.login-signUp-form {
  height: 100vh;
}
.form-slider-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.form-slider {
  display: flex;
  width: 300%;
  transition: transform 0.6s ease;
}
.login-signUp-form-content {
  width: 100%;
  background-color: transparent;
}
.q-field--error .q-field__bottom {
  color: #fff;
}
