.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: radial-gradient(
    circle at center,
    transparent 31%,
    transparent 15%,
    black 100%,
    black 0%
  );
}
.login-signUp-form {
  height: 100vh;
}
.login-signUp-form-content {
  width: 500px;
  background-color: transparent;
  overflow: hidden;
}
