body {
  font-family: "Vazir", sans-serif;
  overflow-x: hidden;
  background-color: #3b82f62b;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 99999s ease-in-out 0s !important;
  caret-color: inherit !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.no-spinner input[type=number] {
  -moz-appearance: textfield !important; /* For Firefox */
}
.wrapper {
  max-width: 1310px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
