.wrapper {
    max-width: 1200px;
    margin: 0 auto ;
}
.rounded-10 {
    border-radius: 10px;
}
body {
    font-family: sans-serif;
}
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}