@media (max-width: 1530px) {
    .header {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width:1330px) {
  /* .hero-section {
    align-items: center;
  } */
  .res-h1 {
    font-size: 40px;
    line-height: 3rem;
  }
  .hero-section .hero-img {
    width: 200px !important;
    height: 240px !important;
}
}
@media (max-width: 1140px) {
  .custom-footer .site-map {
    display: none;
  }
  .hero-section .introduction .part2 p {
    line-height: 26px;
    font-size: 14px;
  }
}
@media (max-width: 930px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .hero-section :is(.part1 , .part2):is(.scroll-animation , .scroll-animation-reverse) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .hero-section .part1.scroll-animation {
    animation: scroll-animation 20s linear infinite;
    position: relative;
  }
  .hero-section .part1.scroll-animation::after {
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    background: linear-gradient(to right, transparent, #fafafa);
  }
  .hero-section .part2.scroll-animation-reverse {
    animation: scroll-animation-reverse 20s linear infinite;
  }
  .hero-section :is(.introduction, .img) {
    width: 100% !important;
}
.hero-section .animation-img {
  justify-content: unset !important;
  height: 520px !important;
}
.hero-section .hero-img {
    width: 280px !important;
    height: 240px !important;
}
.hero-section .scroll-animation:hover,
.hero-section   .scroll-animation-reverse:hover {
  animation-play-state: paused;
}
.res-h1{
  font-size: 5rem !important;
  line-height: 5rem;
}
}
@media (max-width : 820px) {
  .footer-content .submit-form {
    width: 100% !important;
  }
  .footer-content .custom-button {
    width: 50% !important;
  }
}
@media (max-width: 720px) { 
}

@media (max-width: 600px) {
    .header {
         padding-left: 5px;
         padding-right: 5px;
    }
    .header .header-tabs {
        display: none;
    }
    .berger-button {
        display: block;
    }
    .header .header-tabs .q-tab__icon  {
        font-size:15px;
    }
    .header .header-tabs .q-tab__label {
        font-size:12px;
    }
}
@media (max-width: 540px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    gap: 70px;
  }
  .res-h1 {
    font-size: 3rem !important ;
    line-height: 3rem;
  }
}
@media (max-width: 450px) {
}




/* ------------------animation----------------- */

@keyframes scroll-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-animation-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}