.hero-swiper {
  height: 100%;
  position: relative;
  width: 100%;
}

.hero-swiper .swiper-slide {
  position: relative;
  height: 100%;
}

.hero-swiper .slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-swiper .slide-image {
  object-fit: cover;
  z-index: 0;
}

.hero-swiper .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-swiper .slide-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
}
.swiper-1 .slide-image {
  width: 100%;
  height: 100%;
}
.swiper-1 {
  width: 500px;
  height: 600px;
}

.secondary-swiper .swiper-slide {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.secondary-swiper .swiper-slide-thumb-active {
  opacity: 1;
}
:is(.main-swiper, .secondary-swiper) .slide-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
}
.main-swiper .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1;
}
