.rounded-10 {
  border-radius: 10px;
}
.relative {
  position: relative;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-90 {
  gap: 90px;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-45 {
  width: 40%;
}
.w-40 {
  width: 40%;
}
.w-35 {
  width: 35%;
}
.w-33 {
  width: 33.33%;
}
.w-32 {
  width: 32%;
}
.w-30 {
  width: 30%;
}
.w-25 {
  width: 25%;
}
.w-20 {
  width: 20%;
}
.space-between-each-sections {
  margin-top: 120px;
}
.space-between-each-sections-bottom {
  margin-bottom: 150px;
}
.ab-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pointer {
  cursor: pointer;
}
.z-index {
  z-index: 10000;
}
.z-index-2 {
  z-index: 10000000;
  position: relative;
}
.ellipsis-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--lines, 3);
}
.black-layer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
