.rounded-10 {
  border-radius: 10px;
}
.relative {
  position: relative;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-90 {
  gap: 90px;
}
.space-between-each-sections {
  margin-top: 120px;
}
.space-between-each-sections-bottom {
  margin-bottom: 150px;
}
.ab-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pointer {
  cursor: pointer;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.ellipsis-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--lines, 3);
}
.black-layer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.section-p-80 {
  padding: 80px 0;
}
.section-p-40 {
  padding: 40px 0;
}
.section-p-20 {
  padding: 20px 0;
}
