.header {
  background: rgba(133, 202, 255, 0.5);
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
  margin-top: 10px;
  z-index: 999999;
}
.header .logo-img {
  border-radius: 50%;
}
.custom-icon-header {
  font-size: 17px;
}
.berger-button {
  display: none;
}
.logo-moon-wrapper {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ffffff 30%, #aaaaaa 100%);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  animation: moonPulse 4s ease-in-out infinite;
}

.logo-img {
  z-index: 2;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.7));
  transition: transform 0.3s ease;
}

.logo-moon-wrapper:hover .logo-img {
  transform: scale(1.05);
}

@keyframes moonPulse {
  0%,
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
      0 0 40px rgba(255, 255, 255, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8),
      0 0 60px rgba(255, 255, 255, 0.3), inset 0 0 12px rgba(0, 0, 0, 0.4);
  }
}
